* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.logo {
    margin-top: 13px;
/*position: absolute;*/
}

.header {
    width: 100%;
    background-color: #222222;
    height: 85px;
    overflow: hidden;
}

.avatar {
    margin-top: -5%;
    float: right;
}

.nav-bar {
    font-size: 18px;
    line-height: 1.45;
    color: #FFFFFF;
    padding: 0% 21%;
    float: left;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    float: left;
}

li {
    padding: 8px;
    font-weight: 400;
    display: inline-block;
}

.searchbox {
    border-radius: 50px;
    width: 21%;
    font-size: 100%;
    border: 1px solid black;
    float: right;
    margin: -58px 71px;
    padding: 6px 37px 5px 12px;
    font-family: inherit;
}

.left {
    float: left;
    width: 57%;
    background-color: #FFFFFF;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 116px;
    margin-left: 37px;
    border-radius: 14px;
    border: solid 1px black;
}

.right {
    float: right;
    width: 27%;
    background-color: #FFFFFF;
    float: right;
    border-radius: 14px;
    margin-top: 9%;
    margin-right: 6%;
    padding-top: 2%;
    margin-bottom: -7%;
    padding-left: 3%;
    padding-right: 3%;
    border: solid 1px black;
}

.date {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    display: block;
    color: #777;
}

h2 {
    font-weight: 900;
    margin: 0 0 1rem 0;
    padding: 0;
    line-height: 1.1;
}

.left-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
    margin: 0 0 1rem 0;
}

/*@media (max-width: 1138px) {
    .logo {
        float: none;
    }
    .avatar {
        position: absolute;
        top: 50px;
        right: 4px;
    }
    .searchbox {
        display: none;
    }
    .nav-bar {

    }
}*/
